{% block title %} Réinitialiser vos identifiants {% endblock %}

<h1> Réinitialiser vos identifiants </h1>

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.submit) }}
{{ form_end(form) }}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
