<div class="container mx-auto py-8 w-1/4">
    {{ form_start(registrationForm, { 'attr': { 'class': 'space-y-4' } }) }}
        <div class="space-y-2">
            {{ form_label(registrationForm.email, null, { 'label_attr': { 'class': 'block text-lg font-medium text-gray-700' } }) }}
            {{ form_widget(registrationForm.email, { 'attr': { 'class': 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg' } }) }}
            {{ form_errors(registrationForm.email, { 'attr': { 'class': 'text-red-500 text-lg' } }) }}
        </div>

        <div class="space-y-2">
            {{ form_label(registrationForm.password, "Mot de passe", { 'label_attr': { 'class': 'block text-lg font-medium text-gray-700' } }) }}
            {{ form_widget(registrationForm.password, { 'attr': { 'class': 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg' } }) }}
            {{ form_errors(registrationForm.password, { 'attr': { 'class': 'text-red-500 text-lg' } }) }}
        </div>

        <div class="space-y-2">
            {{ form_label(registrationForm.agreeTerms, "Accepter nos conditions d'utilisation", { 'label_attr': { 'class': 'block text-lg font-medium text-gray-700' } }) }}
            {{ form_widget(registrationForm.agreeTerms, { 'attr': { 'class': 'mt-1 block px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg' } }) }}
            {{ form_errors(registrationForm.agreeTerms, { 'attr': { 'class': 'text-red-500 text-lg' } }) }}
        </div>

        <div>
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-lg font-medium rounded-md text-white  bg-slate-700 hover:bg-sky-950 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Créer
            </button>
        </div>
    {{ form_end(registrationForm) }}
</div>
