{% extends 'base.html.twig' %}

{% block title %}Index Quiz{% endblock %}

{% block body %}
    <h1>Index Quiz</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Réponses</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.questionText }}</td>
                <td>
                    {% for answer in answers %}
                        {% if answer.questionId  == question.id %}
                            <p> {{ answer.answerText }} </p> 
                        {% endif %}
                    {% else %}
                        <p> No records found </p>
                    {% endfor %}  
                </td>

                <td>
                    {% for answer in answers %}
                        {% if answer.questionId  == question.id %}
                            {% if answer.status  == true %}
                                <p> Vrai </p> 
                            {% else %}
                                <p> Faux </p> 
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <p> No records found </p>
                    {% endfor %} 
                </td>
                <td>
                    <a href="{{ path('app_quiz_edit', {'id': question.id}) }}">Modifier</a>
                    <a href="{{ path('app_quiz_delete', {'id': question.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        <style>
            td {
                border: 1px solid black;
            }
        </style>

        </tbody>
    </table>

    <a href="{{ path('app_quiz_new') }}">Créer un nouveau quiz</a>

{% endblock %}
